# Spacy

In [1]:
import spacy

In [3]:
nlp=spacy.load("en_core_web_sm")

In [4]:
doc=nlp('''Ms Bandla, 34, followed her dream as she grew up in the United States. 
She couldn't be a NASA astronaut due to poor eyesight - and took the engineering route instead. 
The young aerospace engineer was part of the team that went up with Sir Richard Branson in the first-ever space flight of the billionaire's Virgin Galactic last July.''')

## Sentence Tokenization in spacy

In [6]:
for sentence in doc.sents:
    print(sentence)

Ms Bandla, 34, followed her dream as she grew up in the United States.

She couldn't be a NASA astronaut due to poor eyesight - and took the engineering route instead.

The young aerospace engineer was part of the team that went up with Sir Richard Branson in the first-ever space flight of the billionaire's Virgin Galactic last July.

## Word tokenization in Spacy

In [13]:
for sentence in doc.sents:
    for word in sentence:
        print(word,end='\t')

Ms	Bandla	,	34	,	followed	her	dream	as	she	grew	up	in	the	United	States	.
	She	could	n't	be	a	NASA	astronaut	due	to	poor	eyesight	-	and	took	the	engineering	route	instead	.
	The	young	aerospace	engineer	was	part	of	the	team	that	went	up	with	Sir	Richard	Branson	in	the	first	-	ever	space	flight	of	the	billionaire	's	Virgin	Galactic	last	July	.

# NLTK

In [14]:
import nltk

In [15]:
from nltk.tokenize import sent_tokenize,word_tokenize

In [16]:
text='''
Ms Bandla, 34, followed her dream as she grew up in the United States.
She couldn't be a NASA astronaut due to poor eyesight - and took the engineering route instead. 
The young aerospace engineer was part of the team that went up with Sir Richard Branson in the first-ever space flight
of the billionaire's Virgin Galactic last July.'''

In [19]:
for sentence in sent_tokenize(text):
    print(sentence)

Ms Bandla, 34, followed her dream as she grew up in the United States.
She couldn't be a NASA astronaut due to poor eyesight - and took the engineering route instead.
The young aerospace engineer was part of the team that went up with Sir Richard Branson in the first-ever space flight
of the billionaire's Virgin Galactic last July.

In [21]:
for word in word_tokenize(text):
    print(word,end='\t')

Ms	Bandla	,	34	,	followed	her	dream	as	she	grew	up	in	the	United	States	.	She	could	n't	be	a	NASA	astronaut	due	to	poor	eyesight	-	and	took	the	engineering	route	instead	.	The	young	aerospace	engineer	was	part	of	the	team	that	went	up	with	Sir	Richard	Branson	in	the	first-ever	space	flight	of	the	billionaire	's	Virgin	Galactic	last	July	.